@using SEDC.PizzaApp.Models.ViewModels;
@model OrderViewModel;

<h2>Order details: </h2>

<p>@Model.UserFullName ordered @Model.PizzaName @Model.UserFullName paid @Model.Price by @Model.PaymentMethod </p>