@using SEDC.PizzaApp.Models.ViewModels
@model List<OrderListViewModel>

@{
    ViewData["Title"] = "List of orders";
}

<partial name="~/Views/Shared/Partials/_OrderGreetingPartial.cshtml" />

<a class="btn btn-success" asp-action="CreateOrder">Create new order</a>

<h2>List of orders:</h2>

<ol>
    @foreach (OrderListViewModel viewModel in @Model)
    {
        <li>Pizza name: @viewModel.PizzaName - User: @viewModel.UserFullName</li>

        // details
        @*@Html.ActionLink("See Details", "Details", new { Id = @viewModel.Id }, new { @class = "btn btn-warning"})*@
        <a asp-action="Details" asp-route-id="@viewModel.Id">See Details</a>

        // delete
        <a asp-action="Delete" asp-route-id="@viewModel.Id">Delete Order</a>

        // edit
    }
</ol>

<h4>Fun facts:</h4>
<p>Total number of orders: @ViewBag.NumberOfOrders</p>
<p>First user of our app: @ViewBag.FirstUser.FirstName @ViewBag.FirstUser.LastName</p>

<p>@ViewBag.Date</p>
