@using SEDC.PIzzaApp.BLL.DTOs.Orders
@using SEDC.PizzaApp.Web.Models.Enums
@model IEnumerable<OrderDTO>


<table class="table">
    <thead>
        <tr>
            <th>
                Ordered By
            </th>
            <th>
                Pizza count
            </th>
            <th>
                Payment method
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model)
        {
            <tr>
                <td>
                    <a asp-controller="User" asp-action="Details" asp-route-id="@order.UserId">
                        @order.FullName
                    </a> 
                </td>
                <td>@order.PizzaCount</td>
                <td>@(order.PaymentMethod == PaymentMethod.Cash ? "Cash" : "Card")</td>
                <td>
                    <a asp-controller="Pizza" asp-action="Create" asp-route-id="@order.Id">Add pizza</a>
                </td>
            </tr>
        }
    </tbody>
</table>