@model OrderDetailsViewModel

<div class="text-center">
    <h2 class="display-4">Order Details</h2>
</div>
<a asp-controller="Order" asp-action="AddPizza" asp-route-id="@Model.Id">Add pizza</a>
<br />

<div class="card">
    <div class="card-body">
        <h5 class="card-title">User: @Model.UserFullName</h5>
        <p class="card-text">Payment Method: @Model.PaymentMethod | @Model.TotalPrice <strong> MKD </strong></p>
    </div>

    <div class="row">
        <div>Pizzas:</div>
        @foreach (string pizza in @Model.PizzaNames)
        {
            <div class="card" style="width: 18rem; margin-left:15px;">
                <img class="card-img-top" src="https://alternate-takes.com/wp-content/uploads/2021/05/s2.jpg" alt="Card image cap">
                <div class="card-body">
                    @*TODO number of pizzas*@
                    <h3 class="text-center">@pizza</h3>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a asp-controller="Order" asp-action="Index">Back to orders</a>
</div>